<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.studyweb.mapper.TestJudgemapper">
    <select id="FindbyBoth" parameterType="String" resultType="TestJudge">
        select * from tablejudge where id=#{id} and unit=#{unit}
    </select>
    <update id="Fillanswerj" parameterType="String">
        update tablejudge set answerright=#{item} where id=#{id} and jtitle=#{titlej}
    </update>
</mapper>