<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.studyweb.mapper.Userlearnmapper">
  <select id="FindbyId" parameterType="String" resultType="Userlearn">
      select * from tableuserlearn where id=#{id}
  </select>
  <update id="AddTag1" parameterType="String">
      update tableuserlearn set tag1=tag1+1 where id=#{id}
  </update>
    <update id="AddTag2" parameterType="String">
        update tableuserlearn set tag2=tag2+1 where id=#{id}
    </update>
    <update id="AddTag3" parameterType="String">
        update tableuserlearn set tag3=tag3+1 where id=#{id}
    </update>
</mapper>