<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>javaStudy</title>
    <!--fivicon icon-->
    <link rel="icon" th:href="@{/geshi/img/fevicon.png}">

    <!-- Stylesheet -->
    <link rel="stylesheet" th:href="@{/geshi/css/animate.min.css}">
    <link rel="stylesheet" th:href="@{/geshi/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/geshi/css/magnific.min.css}">
    <link rel="stylesheet" th:href="@{/geshi/css/nice-select.min.css}">
    <link rel="stylesheet" th:href="@{/geshi/css/owl.min.css}">
    <link rel="stylesheet" th:href="@{/geshi/css/slick-slide.min.css}">
    <link rel="stylesheet" th:href="@{/geshi/css/fontawesome.min.css}">
    <link rel="stylesheet" th:href="@{/geshi/css/style.css}">
    <link rel="stylesheet" th:href="@{/geshi/css/responsive.css}">

    <link rel="stylesheet" th:href="@{/geshi/note/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/geshi/note/css/font-icons.css}" />
    <link rel="stylesheet" th:href="@{/geshi/note/css/style.css}" />

    <!-- Lazyload -->
    <script th:src="@{/geshi/note/js/lazysizes.min.js}"></script>

    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">


</head>
<body class='sc5'>
    <!-- preloader area start -->
    <div class="preloader" id="preloader">
        <div class="preloader-inner">
            <div id="wave1">
            </div>
            <div class="spinner">
                <div class="dot1"></div>
                <div class="dot2"></div>
            </div>
        </div>
    </div>
    <!-- preloader area end -->
    <div class="body-overlay" id="body-overlay"></div>

    <!-- search popup area start -->
    <div class="search-popup" id="search-popup">
        <form action="home.html" class="search-form">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search.....">
            </div>
            <button type="submit" class="submit-btn"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <!-- //. search Popup -->

    <section class="admin-dashboard-section">
        <div class="admin-dashboard-right-side">
            <!-- top header start  -->
            <<div class="main-header">
            <div class="header-wraper">
                <div class="row">
                    <div class="col-xl-6">
                            <span class="header-user">
                                <a href="#"><img th:src="@{/geshi/img/author/02.png}" alt="img"></a>
                                <span>欢迎回来,
                                    <h5><span th:text="${session.user.getUsername()}"></span></h5>
                                </span>
                            </span>
                    </div>
                    <div class="col-xl-6 align-self-center text-lg-end">
                        <div class="d-lg-flex align-items-center">
                            <div class="user-rating text-center d-inline-block">
                                    <span class="d-block">
                                        <h5 style="color: white;" th:text="|学习评分 ${user.getLearnrate()}|">学习评级:4.5</h5>
                                    </span>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
            <!-- top header end  -->

            <!-- dashboard-area start  -->
            <div class="dashboard-profile-area">
                <div class="entry__article">
                    <blockquote><p th:text="${note1.getNotetitle()}">“Dreams and dedication are powerful combination.”</p>
                    <cite th:text="${session.user.username}">William Longgood</cite>
                    </blockquote>
      
                    <h2>文章摘要</h2>
      
                    <p th:text="${note1.abstract1}">Music can help you get into a “flow state” -- losing yourself in the task at hand. Even repetitive tasks or mundane assignments seem more bearable, or even fun, when your favorite tunes are in your ears. Plus, your eyes won’t be so prone to checking the time. <a href="#">Check out these</a> and more reasons to bring your music to work in this Zing Instruments infographic below. A great piece of music is an instant mood lifter. Plenty of scientific evidence backs this up - we`re happier bunnies when listening to music.</p>

                    <figure>
                      <img data-src="img/blog/single_post_img.jpg" src="img/empty.png" alt="" class="lazyload">
                      <figcaption th:text="${note1.unit}">The best WordPress theme</figcaption>
                    </figure>
                    <h3>正文内容</h3>
                    
                    <p th:text="${note1.getContent()}"> s which are repeated regularly with feeling and emotion.</p>
              <!-- end progress -->
            </div>
        </div>
        <!-- dashboard-left-menu start  -->
            <div class="dashboard-left-menu">
                <a href="" class="logo"><img th:src="@{/geshi/img/logo.png}" alt="img"></a>
                <ul>
                    <li class="nav-item">
                        <a class="dashboard-item-menu"  href="dashboard"><i class="fas fa-tachometer-alt"></i>我的课程</a>
                    </li>
                    <li class="nav-item">
                        <a class="dashboard-item-menu"  th:href="@{dashboard-profileload(id=${session.user.getId()})}"><i class="fa fa-user"></i> 我的账户</a>
                    </li>
                    <li class="nav-item">
                        <a class="dashboard-item-menu"  th:href="@{dashboard-all(id=${session.user.getId()})}"><i class="fas fa-graduation-cap"></i>所有课程</a>
                    </li>
                    <li class="nav-item">
                        <a class="dashboard-item-menu"  th:href="@{mytest(id=${session.user.getId()})}"><i class="fab fa-buffer"></i>我的测试</a>
                    </li>

                    <li class="nav-item">
                        <a class="dashboard-item-menu"  th:href="@{noteload(id=${session.user.getId()})}"><i class="fas fa-book"></i>笔记</a>
                    </li>
                    <li class="nav-item">
                        <a class="dashboard-item-menu"  th:href="@{/logout}"><i class="fas fa-sign-out-alt"></i>退出登录</a>
                    </li>
                </ul>
            </div>
    </section> 

    <!-- back-to-top end -->
    <div class="back-to-top">
        <span class="back-top"><i class="fas fa-angle-double-up"></i></span>
    </div>

    

    <!-- all plugins here -->
    <script th:src="@{/geshi/js/jquery.3.6.min.js}"></script>
    <script th:src="@{/geshi/js/bootstrap.min.js}"></script>
    <script th:src="@{/geshi/js/imageloded.min.js}"></script>
    <script th:src="@{/geshi/js/counterup.js}"></script>
    <script th:src="@{/geshi/js/waypoint.js}"></script>
    <script th:src="@{/geshi/js/magnific.min.js}"></script>
    <script th:src="@{/geshi/js/isotope.pkgd.min.js}"></script>
    <script th:src="@{/geshi/js/nice-select.min.js}"></script>
    <script th:src="@{/geshi/js/fontawesome.min.js}"></script>
    <script th:src="@{/geshi/js/ripple.js}"></script>
    <script th:src="@{/geshi/js/owl.min.js}"></script>
    <script th:src="@{/geshi/js/slick-slider.min.js}"></script>
    <script th:src="@{/geshi/js/wow.min.js}"></script>
    <!-- main js  -->
    <script th:src="@{/geshi/js/main.js}"></script>
</body>
</html>